*{
    box-sizing: border-box;
    margin: 0;
    padding:0 ;
}
body{
    padding-top: 3.5rem;
}
main{
    .head-section{
        padding: 4rem 2rem;
        margin-bottom: 2rem;
        background-color: #e9ecef;
        border-radius: 0.3rem;
    }
    
    hr{
        margin-top: 1rem;
        margin-bottom: 1rem;
        border: 0;
        border-top: 1px solid rgba(0,0,0,.1);
    }
}
.container{
    max-width: 1140px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}